HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### env ###
env
env.*

### macOS ###
.DS_Store

### yml files (include secret) ###
Trim-Common/src/main/resources/application-*.yml
Trim-Domain/src/main/resources/application-*.yml
Trim-Infra/src/main/resources/application-*.yml
Trim-Api/src/main/resources/application-*.yml

### json ###
*.json