server:
  port: 8082

spring:
  jpa:
    properties:
      hibernate:
      format_sql: true
      default_batch_fetch_size: 100
      dialect: org.hibernate.dialect.MySQLDialect

  logging.level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

  profiles:
    active: local
    include: security

